py-tgcalls
ntgcalls
telethon
yt-dlp
youtube-search
youtube-search-python
search-engine-parser
googlesearch-python
bing-image-downloader
aiohttp
aiofiles
apscheduler
motor
pymongo
pillow
psutil
wget
qrcode
gTTS
unidecode
future
python-dotenv
pyyaml
gitpython
hachoir
heroku3
pykeyboard
telegraph
requests
httpx
tgcrypto
openai
lexica-api
lyricsgenius
spotipy
MukeshAPI
SafoneAPI
opencv-python-headless
speedtest-cli
dnspython
arabic-reshaper
python-bidi
